<div class="myMenu">
	<table class="rootVoices" cellspacing='0' cellpadding='0' border='0'>
		<tr>
			<td class="rootVoice {menu: 'menu_cadastros'}">Cadastros</td>
			<td class="rootVoice {menu: 'menu_biblioteca'}">Biblioteca</td>
			<td class="rootVoice {menu: 'empty'}" onclick="window.location.href='/construcao.html';">Financeiro</td>
			<td class="rootVoice {menu: 'empty'}" onclick="window.location.href='/users/sign_out';">Sair</td>
		</tr>
	</table>
</div>

<div id="menu_cadastros" class="mbmenu">
	<a href="/people" img="aluno.png">Alunos</a>
	<a href="/medias" img="icons/book.png">Mídias</a>
	<a rel="separator"></a>
	<a href="/genres" img="icons/sport_soccer.png">Gêneros</a>
</div>

<div id="menu_biblioteca" class="mbmenu">
	<a href="/construcao.html" img="icons/book_next.png">Empréstimos</a>
	<a href="/construcao.html" img="icons/book_previous.png">Devoluções</a>
	<a rel="separator"></a>
</div>