.subtitle { 
	color: #0066cc;	
	font-size: 20px;
	border-bottom: 1px solid #e0e0e0;
	width: 90%;
}

table tr.odd {
	background-color: white;
}

table tr.even {
	background-color: silver;
}

.form label {
	display: block;
}

textarea.description {
	width: 100%;
}

/* Pagination */
.pagination {
  background: #F1F1F1;
  border: 1px solid #E5E5E5;
  text-align: center;
  padding: 1em;
  a, span, em {
    padding: .2em .3em;
  }
  span.disabled {
    color: #AAA;
  }
  em {
    font-weight: bold;
    background: transparent url('/images/apple-circle.gif') no-repeat 50% 50%;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover, a:focus {
    text-decoration: underline;
  }
}
