<div class="myMenu">
	<table class="rootVoices" cellspacing='0' cellpadding='0' border='0'>
		<tr>
			<td class="rootVoice {menu: 'menu_pessoas'}" >Pessoas</td>
			<td class="rootVoice {menu: 'empty'}" onclick="window.location.href='/medias';">Biblioteca</td>
			<td class="rootVoice {menu: 'empty'}" onclick="window.location.href='/construcao.html';">Financeiro</td>
			<td class="rootVoice {menu: 'empty'}" onclick="window.location.href='/users/sign_out';">Sair</td>
		</tr>
	</table>
</div>

<div id="menu_pessoas" class="mbmenu">
	<a href="/people" img="aluno.png">Alunos</a>
	<a href="/construcao.html" img="membro.png">Membros</a>
	<a href="/construcao.html" img="professor.png">Professores</a>
	<a rel="separator"></a>
</div>