<h3 align="center">Calma, isso aqui ainda n&#227;o est&#225; pronto.</h3>

<div align="center">
	<img src="/images/construcao.jpg"/>
</div>

<h4 align="center">Lembre-se que a paci&#234;ncia &#233; uma virtude!</h4>