<br /><br /><br />

Olá, seja bem-vindo ao sistema Mercúrio!

<div class="buttons">
<% link_to(user_omniauth_authorize_path(:google_apps), html_options = {:method => :post}) do %>
	Entre com sua conta do Google
	<img src="images/icons/door_in.png" alt="" />
<% end %>
</div>