<!DOCTYPE html>
<html>
<head>
  <title>Mercurio</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="logo">
		<img src="/design/images/logo.png"/>
	</div>

	<div class="myMenu">
		<table class="rootVoices" cellspacing='0' cellpadding='0' border='0'>
			<tr>
				<td class="rootVoice {menu: 'menu_pessoas'}" >Pessoas</td>
				<td class="rootVoice {menu: 'empty'}" onclick="window.location.href='/construcao.html';">Biblioteca</td>
				<td class="rootVoice {menu: 'empty'}" onclick="window.location.href='/construcao.html';">Financeiro</td>
				<td class="rootVoice {menu: 'empty'}" onclick="window.location.href='/sair.groovy';">Sair</td>
			</tr>
		</table>
	</div>

	<div id="menu_pessoas" class="mbmenu">
		<a href="/aluno/listar.groovy" img="aluno.png">Alunos</a>
		<a href="/construcao.html" img="membro.png">Membros</a>
		<a href="/construcao.html" img="professor.png">Professores</a>
		<a rel="separator"></a>
	</div> 	

	<div id="main">
		<%= yield %>
	</div>

	<div class="footer">
		<hr/>
		Mercúrio - Academia de Filosofia&nbsp;&nbsp;
	</div>


</body>
</html>
